.fundoHome {
    background-image: url("../../assets/svgs/welcome.svg");
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 100%;
    background-size: 50% auto;
    background-position: center;
}